/* 
* Global variables and theme configuration (light-dark).
*/
:root {
    color-scheme: light dark;
    /* Base colors and accents */
    --bg-color-l: #f0f6fc;
    --bg-color-d: #0a0a0a;
    --text-l: #1f2328;
    --text-d: #f3f4f6;
    --accent: #3b82f6;
    /* Appointment button (variables) */
    --btn-bg-l: #1e3a8a;
    /* Dark blue */
    --btn-bg-d: #04fefe;
    /* Light blue */
    --btn-text-l: #f3f4f6;
    /* Light */
    --btn-text-d: #0a0a0a;
    /* Dark */
    /* Typography and spacing */
    --font-family: 'Inter', sans-serif;
    --sm: 1.4rem;
    --md: 2.8rem;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
    :root {
        --sm: 3rem;
        --md: 4rem;
    }
}

html {
    font-family: var(--font-family);
    font-size: 62.5%;
    /* 1rem = 10px */
    background-color: light-dark(var(--bg-color-l), var(--bg-color-d));
    color: light-dark(var(--text-l), var(--text-d));
    scroll-behavior: smooth;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}


/* Utility classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: var(--md);
}

.glass-card {
    background: light-dark(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03));
    backdrop-filter: blur(10px);
    border: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    padding: 3rem;
    border-radius: 1.6rem;
    transition: transform 0.3s, border-color 0.3s;
    text-align: center;
}

.glass-card:hover {
    transform: translateY(-5px);
    border-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

/* Structure */
header {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

header .container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

nav a:hover {
    color: var(--accent);
}

.hero {
    padding: 10rem 0;
    text-align: center;
}

/* Styles for buttons and social links */
.btn-primary {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: light-dark(var(--btn-bg-l), var(--btn-bg-d));
    color: light-dark(var(--btn-text-l), var(--btn-text-d));
    text-decoration: none;
    border-radius: 0.8rem;
    font-weight: 600;
    transition: background-color 0.3s;
    font-size: var(--md);
}

.hero-actions {
    background-color: light-dark(var(--btn-bg-l), var(--btn-bg-d));
}

.btn-primary:hover {
    background-color: light-dark(var(--btn-bg-d), var(--btn-bg-l));
    color: light-dark(var(--text-l), var(--text-d));
    ;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.social-links a {
    color: inherit;
    text-decoration: none;
    font-size: var(--sm);
}

.social-links a:hover {
    color: var(--accent);
}
